body{
	background-color: #f4f4f4;
	color: #555555;
	font-family: Arial,Helvetica;
	font-size: 15px;
	font-weight: normal;

	line-height: 1.3em;
	
}

*
{
	margin: 0px;
	padding: 0px;
}

.main
{
	width: 700px;
	font-size: 22px;
	padding: 13px;
	font-family: Arial; 

}
.main input
{
	font-size: 22px;
	margin: 10px;

}
.main ul
{
	

}
.main button
{
	font-size: 22px;
	width: 100%;

}
#sidebar{
	
	height: 120%;
	width: 250px;
	position: absolute;
	background: #52c0ff;
	left:-200px;
	transition: all 100ms linear;

}
#sidebar li:hover
{
	transform: scale(1.1);
}

#sidebar li
{
	padding: 20px;
	font-size: 24px;
	width: 100%;
}
#sidebar a
{
	text-decoration: none;
}

#sidebar.active
{
	left:0px;

}
.MainList a:hover
{
	color:#8ad8ff;
}
#sidebar h1
{
	font-size: 32px;
	padding-top:10px;
	color: white;
}
.Button
{
	background-color: #52c0ff;
	color: white;
	border:none;
  	font-size: 20px;
  	padding: 20px;
}

.Button:hover
{
	background: #12a9ff;
	color: white;
}

.Button a
{
	
	text-decoration: none;
	width: 100%;

}

.container
{
	width:80%;
	margin: auto;
}
.box-1{
	
	padding: 10px;
	margin-left: 100px;
}
.box-1 h1{
	font-family: Tahoma;
}
.box-1 input{
	font-family: Arial;
}
.box-1 button{
	font-family: Arial;
}
.MainList
{
	border:3px #ccc solid;
	list-style: none;
}
.MainList a
{
	text-decoration: none;
	color: black;
}
.MainList li
{
	padding: 10px;
	margin: 10px;
	background-color: #ffffff;
}
.MainList li:hover
{
	color: #8ad8ff;
	transform: scale(1.06);

}

#submit:hover
{
	background-color: #ccc;
}
