body
{
	width: 80%;
	margin: auto;
}

.form1 select{font-size: 22px;margin: 0px 22px;}
.form1{padding: 50px 0px;}
.form1 button{font-size: 22px;}
.form2 select{font-size: 22px;margin: 0px 22px;}
.form2{padding: 50px 0px;}
.form2 input{font-size: 22px;}
.form2 button{font-size: 22px;}
.form2 label{font-size: 22px;}

